header nav
{
    margin-top: 3px;
    margin-left: 50px;
    width: 90%;
    align-self: flex-start;
    text-align: center;
}
nav
 {
    background: deepskyblue;
    color:white;
    font-size: 2em;

 }

 nav ul li
 {
     display:inline-block;
     padding-right:10px;
 }

 nav li a:visited, nav li a:link
 {
     color: white;
     text-decoration: none;
 }

 nav li a:hover
 {
    background: black;
 }

 #container
 {
    border:1px solid darkgrey;
    width: 90%;
    margin:5px auto;
    min-height: 600px;
 }

 .active
 {
     background-color: black;
 }

 /* [class*="col-"], footer */
 .col-lg-12
 {
     background-color: lightseagreen;
     border: 2px solid black;
     border-radius: 6px;
     line-height:40px;
 }
 
 