header nav
{
    margin-top: 3px;
    margin-left: 15px;
    align-self: flex-start;
    /* text-align: center;*/
}
nav
 {
    background: deepskyblue;
    color:white;
    font-size: 1em;
 }
 .lower
 {
    font-size: 0.5em;
 }

 nav ul li
 {
     display:inline-block;
     /* padding-right:10px;*/
 }

 nav li a:visited, nav li a:link
 {
     color: white;
     text-decoration: none;
 }

 nav li a:hover
 {
    background: black;
 }

 #container
 {
    border:1px solid darkgrey;
    background-color: paleturquoise;
    margin:5px auto;
    line-height: 40px;
 }

 .active
 {
     background-color: black;
 }

 /* [class*="col-"], footer */
 [class*="col-"], footer
 {
     background-color: lightseagreen;
     border: 2px solid black;
     border-radius: 6px;
     line-height:40px;
 }

 .thema
 {
    background-image: url("img/Js.jpg");
 }
 