@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width:992px){
}
@media (max-width:768px){
}
@media (max-width:576px){
}
body
{
color: black;
}
#episode-content
{
  
    border: 3px blue offset;
    background-image: url("IMG/frame.png");
    box-shadow: 6px 6px 6px black;
}